---
layout: default
title: Get involved
---

{% include /header-blocks/get-involved.html %}
{% include /blocks/groups.html %}
{% include /blocks/lambs.html %}

<div class="row">

  <div class="col-2">
    {% include /blocks/kids.html %}
  </div>
  <div class="col-2">
    {% include /blocks/youth.html %}
  </div>
</div>


{% include /blocks/women.html %}
{% include /blocks/blokes.html %}

<div class="row">

  <div class="col-2">
    {% include /blocks/marriage.html %}
  </div>
  <div class="col-2">
    {% include /blocks/foundation.html %}
  </div>
</div>
