---
title: Home
layout: default
description: As a local church we are a community of everyday people in which Jesus
  is central, in all we do, as we seek to embrace our city and nation we live in.
body:
- template: block
  title: New to church
  subtitle: If you’re new to church, interested in the Christian faith or simply want
    to know what it means to be part of the Liberty family.
  background_image: "/v1542279683/bg-new-to-church.jpg"
  button_type: Solid
  internal_link: new-to-church/index.html
  button_text: Find out more
- template: block
  subtitle: Catch up with the latest messages from our Sunday meetings and mid week
    sessions.
  title: Messages
  background_image: "/v1542279709/bg-messages.jpg"
- template: block
  title: Extend
  subtitle: To reach and influence the world by building a large Christ-centered,
    Bible-based church, changing mindsets and empowering people to lead and impact
    in every sphere of life.

---
<img src="https://res.cloudinary.com/libertychurchuk/image/upload/v1542279683/bg-new-to-church.jpg"><img src="https://res.cloudinary.com/libertychurchuk/image/upload/v1542279709/bg-messages.jpg"><section>
{% include /header-blocks/header-home.html %}
{% include /blocks/new.html %}
{% include /blocks/messages.html %}
{% include /blocks/extend.html %}
</section>