---
title: Home
layout: default
description: As a local church we are a community of everyday people in which Jesus
  is central, in all we do, as we seek to embrace our city and nation we live in.
sidebar: 
weight: 1
body:
- template: content-block
  title: New to church
  call_to_action:
  - template: call-to-action
    button_type: Solid
    button_text: Find out more
    internal_link: new-to-church/index.html
  background_image: "/v1542279683/bg-new-to-church.jpg"
- template: content-block
  title: Messages
  subtitle: Catch up with the latest messages from our Sunday meetings and mid week
    sessions.
  call_to_action:
  - template: call-to-action
    button_type: Solid
    button_text: Catch up
    internal_link: messages/index.html
  background_image: "/v1542279709/bg-messages.jpg"

---
<section>
{% include /header-blocks/header-home.html %}
{% include /blocks/new.html %}
{% include /blocks/messages.html %}
{% include /blocks/extend.html %}
</section>

<!--<div>
{% for block in page.body %}
    {% assign template = block.template %}

    {% case template %}
    {% when 'content_block' %}

    <article class="content-block content-block--overlay-messages theme-dark content-block--image" style="background-image: url('{{ site.cloudinary_url }}/{{ block.background_image }}')">
      <div class="content-block-inner">
        <h2 class="content-block__heading">{{ block.title }}</h2>
        <div class="content-block__content">
          <p>{{ block.subtitle }}</p>
        </div>
      </div>
      <div class="content-block__footer">
          {% for item in block.call_to_action %}
            {% if item.internal_link %}
            <a class="btn {% if item.button_type == 'Outline' %} btn--outline {% endif %}" href="{{ item.internal_link }}">{{ item.button_text }}</a>
            {% endif %}
            {% if item.external_link %}
            <a class="btn {% if item.button_type == 'Outline' %} btn--outline {% endif %}" href="{{ item.external_link }}" rel="external noopener">{{ item.button_text }}</a>
            {% endif %}
          {% endfor%}
      </div>
    </article>
    
        

    {% endcase %}
{% endfor %}
</div>-->