---
layout: default
title: New to church
description: Liberty Church is for everyone no matter your background or age. It's not easy starting out on a new journey, so we hope you come and visit us soon.
image: bg-new-to-church.jpg
---
<section>
  {% include /header-blocks/new.html %}
  {% include /blocks/service.html %}
  {% include /grids/service-faq.html %}
  <div class="row">
    <div class="column">
      <article class="content-block theme-deep">
        <div class="content-block-inner">
          <h1 class="content-block__heading content-block__heading--cta">What we believe</h1>
          <h2 class="content-block__subheading">statement of beliefs</h2>
          <div class="content-block__footer">
            <p>
              <a class="btn btn--outline" href="what-we-believe.html">
                <span class="sr-only">View our statement of faith</span>
                <svg class="icon icon--light">
                  <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#chev-right"></use>
                </svg>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="content-block  theme-deep">
        <div class="content-block-inner">
          <h1 class="content-block__heading content-block__heading--cta">Vision</h1>
          <h2 class="content-block__subheading">the Church we want to see</h2>
          <div class="content-block__footer">
            <p>
              <a class="btn btn--outline" href="our-vision.html">
                <span class="sr-only">View our vision statement</span>
                <svg class="icon icon--light">
                  <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#chev-right"></use>
                </svg>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

  {% include /blocks/after-service.html %}
  {% include /blocks/be-part-of-us.html %}
</section>
