---
layout: default
title: Who we are
description:
---

<section>
{% include /header-blocks/who-we-are.html %}
{% include /blocks/who-we-are-video.html %}
{% include /grids/leaders.html %}
<header class="content-block content-block--header">
  <div class="content-block-inner">
    <h2 class="header-block__heading">our story</h2>
    <h3 class="content-block__subheading">quite a journey in a short time</h3>
  </div>
</header>

{% include /grids/hatherleigh.html %}
{% include /grids/alway.html %}
{% include /grids/llanwern.html %}

</section>
