---
title: Liberty Groups
layout: default
description: Community groups
pagination:
  enabled: true
  collection: groups
---
<header class="content-block content-block--header">
  <div class="content-block-inner">
    <h1 class="header-block__heading">Liberty Groups</h1>
    <h2 class="content-block__subheading">Your church family and community</h2>
  </div>
 <!--<div class="content-block__footer">
    <a href="https://vimeo.com/233647160" class="btn btn--outline mediabox" aria-label="Play video">
      <svg class="icon icon--large">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#video"></use>
      </svg> Play video
    </a>
  </div>-->
</header>


<section class="blog">
  <div class="row flex flex-row flex-wrap block-grid">
    {% for item in paginator.posts %}
        {% include items/card-groups.html %}
    {% endfor %}
  </div>
  {% include item-pagination.html %}
</section>