<div class="row flex flex-row flex-wrap mw-none relative theme-dark">
  <div class="dt center">
    <div class="db dtc-ns mb2 mb0-ns v-top-ns w-50-ns pa2-m pa4-ns">
      <img
        src="{{ site.baseurl }}/assets/images/kindness-cards.png"
        alt="My command is this: love each other as I have loved you - John 15:12"
        class="w-100 ba-ns ba2-ns b--white mw6"
      />
    </div>
    <div class="db dtc-ns v-mid-ns w-70-m w-50-ns pa3 pa2-m pa4-ns">
      <h2>(COVID-19) Kindness in action</h2>
      <p class="lh-copy measure">Here is a video from Alex, from our church family sharing about a great, practical way we can demonstrate the love of Jesus at this time through kindness cards.</p>
      <p class="lh-copy measure">Download and print the A4 card out, cut them up, fill them in and post through your neighbours doors. If you need some printed, please drop us an email at admin@libertychurchuk.com</p>
      <a href="https://vimeo.com/399292799" class="btn mediabox mr2" aria-label="Play video"> <svg class="icon icon--medium icon--light"> <use xlink:href="/assets/images/icons/svg-icons.svg#video"></use> </svg> Watch the video </a>
      <a class="btn btn--outline" href="{{ site.baseurl }}/assets/pdfs/kindness-cards.pdf">Download cards</a>


    </div>
  </div>
</div>
