<div class="row row--expanded">
  <div class="column">
      <article class="content-block theme-dark content-block--image bp-tc" style="background-image: url('{{ site.baseurl }}/images/hero/bg-egg-hunt.jpg')">
        <div class="content-block-inner">
        </div>
      </article>

  </div>
  <div class="column">
      <article class="content-block theme-dark content-block--image bp-tr" style="background-image: url('{{ site.baseurl }}/images/hero/bg-easter-sunday.jpg')">
        <div class="content-block-inner">
        </div>
      </article>
    
  </div>
</div>
