<div class="row flex flex-row flex-wrap mw-none">
  <div class="column">
      <article class="content-block">
          <img
          sizes="(max-width: 1920px) 100vw, 1920px"
          srcset="
          {{ site.baseurl }}/assets/images/hero/egg-hunt/bg-egg-hunt_hfvarh_c_scale,w_320.jpg 320w,
          {{ site.baseurl }}/assets/images/hero/egg-hunt/bg-egg-hunt_hfvarh_c_scale,w_1324.jpg 1324w,
          {{ site.baseurl }}/assets/images/hero/egg-hunt/bg-egg-hunt_hfvarh_c_scale,w_1920.jpg 1920w"
          src="{{ site.baseurl }}/assets/images/hero/egg-hunt/bg-egg-hunt_hfvarh_c_scale,w_1920.jpg"
          alt="Easter Egg Hunt, Good Friday 30th March at 11am. Join us at beechwood park, Newport and Bring a picnic">
      </article>

  </div>
  <div class="column">
      <article class="content-block">
          <img
            sizes="(max-width: 1920px) 100vw, 1920px"
            srcset="
            {{ site.baseurl }}/assets/images/hero/easter-sunday/bg-easter-sunday_qbg3fw_c_scale,w_320.jpg 320w,
            {{ site.baseurl }}/assets/images/hero/easter-sunday/bg-easter-sunday_qbg3fw_c_scale,w_1346.jpg 1346w,
            {{ site.baseurl }}/assets/images/hero/easter-sunday/bg-easter-sunday_qbg3fw_c_scale,w_1920.jpg 1920w"
            src="{{ site.baseurl }}/assets/images/hero/easter-sunday/bg-easter-sunday_qbg3fw_c_scale,w_1920.jpg"
            alt="Easter Sunday, 1st April at 10.30am, Llanwern high school.">
      </article>
  </div>
</div>
