<div class="contentinfo__social row mw-none">
  <div class="column">
    <a href="https://www.facebook.com/libertychurchfamily" target="_blank" rel="external noopener" class="content-block theme-facebook">
      <span class="sr-only">Like us on Facebook</span>
      <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#facebook"></use>
      </svg>
    </a>
</div>
  <!--
  <div class="column">
    <a href="https://twitter.com/LibertyChurchUK" target="_blank" rel="external noopener" class="content-block theme-twitter">
      <span class="sr-only">Follow us on Twitter</span>
      <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#twitter"></use>
      </svg>
    </a>
</div>
-->
  <div class="column">
    <a href="https://vimeo.com/libertychurchuk" target="_blank" rel="external noopener" class="content-block theme-vimeo">
      <span class="sr-only">Watch us on vimeo</span>
      <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#vimeo"></use>
      </svg>    </a>
</div>
  <div class="column">
    <a href="https://instagram.com/libertychurchuk" target="_blank" rel="external noopener" class="content-block theme-instagram">
      <span class="sr-only">Follow us on instagram</span>
      <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#instagram"></use>
      </svg>
    </a>
</div>
</div>
