<div class="row flex flex-row flex-wrap mw-none relative theme-dark">
  <div class="dt center">
    <div class="db dtc-ns mb2 mb0-ns v-top-ns w-50-ns pa2-m pa4-ns">
      <img
        src="{{ site.baseurl }}/assets/images/places-of-liberty.png"
        alt=""
        class="w-100 ba-ns ba2-ns b--white mw6"
      />
    </div>
    <div class="db dtc-ns v-mid-ns w-70-m w-50-ns pa3 pa2-m pa4-ns">
      <h2>Places of Liberty</h2>
      <p class="lh-copy measure">We sense a new wine and new wine skin moment as a church and we want to hear and explore what God is saying to us as a people. Back at the start of Liberty Church being birthed, a prophetic word was spoken into our house around 'Places of Liberty'. We are excited as we see this word outworked .</p>
      <a href="https://vimeo.com/440297073" class="btn mediabox mr2" aria-label="Play video"> <svg class="icon icon--medium icon--light"> <use xlink:href="/assets/images/icons/svg-icons.svg#video"></use> </svg> Watch the video </a>


    </div>
  </div>
</div>
