---
title: Devotionals
subtitle: A series of daily devotionals
layout: default
description: Daily devotionals to encourage you in your quiet times
pagination: 
  enabled: true
  collection: devotionals
---

<header class="content-block content-block--header">
  <div class="content-block-inner">
    <h1 class="header-block__heading">{{ page.title }}</h1>
    <h2 class="content-block__subheading">{{ page.subtitle }}</h2>
  </div>
</header>

<section class="blog">
  <div class="row flex flex-row flex-wrap block-grid">
    {% for item in paginator.posts %}
        {% include items/card-devotional.html %}
    {% endfor %}
  </div>
  {% include item-pagination.html %}
</section>
