<footer class="contentinfo">


<div class="contentinfo__contact" id="contact">

		<svg class="logo logo--light">
			<use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#logo"></use>
		</svg>

		<h2 class="sr-only">Contact Liberty Church </h2>
		<div class="container">
		<div class="row">
			<div class="column contentinfo__contact--tel">
					<svg class="icon icon--large icon--light">
						<use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#phone"></use>
					</svg>
					<a href="tel:+447943501007">Call us +44 7943 501007</a>
			</div>
			<div class="column contentinfo__contact--email">
				<svg class="icon icon--large icon--light">
					<use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#email"></use>
				</svg>
 				<a href="mailto:hello@libertychurchuk.com">hello@libertychurchuk.com</a>
			</div>
		</div>

	</div>

</div>

<div class="contentinfo__newsletter">
	{% include /newsletter.html %}
</div>

{% include /grids/social.html %}

<div class="contentinfo__smallprint row">

	<div class="column contentinfo__charitystatus">
		<small>Liberty Church is a registered charity in England and Wales 1161640</small>
	</div>

	<div class="column contentinfo__copyright">
		<small>Copyright © 2016 Liberty Church. All rights reserved.</small>
	</div>



</div>

</footer>
