<footer class="contentinfo" role="contentinfo">


<div class="contentinfo__contact" id="contact">

		<img alt="Liberty Church" class="contentinfo__logo" src="{{ site.baseurl }}/images/logos/liberty-logo-text-white.svg" role="presentation">

		<h3>Contact Liberty Church </h3>
		<p><strong>Phone</strong> <br><a href="tel:+447943 501007">+44 7943 501007</a></p>
		<p><strong>Email</strong> <br><a href="mailto:hello@libertychurchuk.com" target="_blank">hello@libertychurchuk.com</a></p>

</div>

{% include /grids/social.html %}
	<p class="contentinfo__copyright">
		<small>Copyright © 2016 Liberty Church. All rights reserved.</small>
	</p>

</footer>

{% include nav-drawer.html %}
