<footer class="contentinfo">


<div class="contentinfo__contact" id="contact">

		<svg class="logo logo--light">
			<use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#logo"></use>
		</svg>

		<h2 class="sr-only">Contact Liberty Church </h2>
		<div class="container">
		<div class="row flex flex-row flex-wrap">
			<div class="column contentinfo__contact--time">
				<svg class="icon icon--large icon--light">
					<use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#jesus"></use>
				</svg>
				<h3>Service address</h3>
				
					<div class="adr">
					<div class="time"><time>10.30am</time> at </div>
					 <div class="street-address">Llanwern High School</div>
					 <div class="street-address">Hartridge Farm Road,</div>
					 <div class="locality">Newport, <span class="postal-code">NP18 2YE</span>
</div>
					 <div class="country-name">United Kingdom</div>
					</div>
			</div>
			<div class="column contentinfo__contact--tel">
					<svg class="icon icon--large icon--light">
						<use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#phone"></use>
					</svg>
					<a href="tel:+447943501007">Call us +44 7943 501007</a>
			</div>
			<div class="column contentinfo__contact--email">
				<svg class="icon icon--large icon--light">
					<use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#email"></use>
				</svg>
 				<a href="mailto:hello@libertychurchuk.com">hello@libertychurchuk.com</a>
			</div>
			<div class="column contentinfo__contact--address">
				<svg class="icon icon--large icon--light">
					<use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#post"></use>
				</svg>
				<h3>Admin address</h3>
					<div class="adr">
					 <div class="street-address">42 Bryngwyn Road,</div>
					 <div class="locality">Newport, <span class="postal-code">NP20 4JT</span>
</div>
					 <div class="country-name">United Kingdom</div>
					</div>
			</div>

		</div>

	</div>

</div>

<div class="contentinfo__newsletter" id="newsletter">
	{% include /newsletter.html %}
</div>

{% include /grids/social.html %}

<div class="contentinfo__smallprint row flex flex-row flex-wrap mw-none">

	<div class="column contentinfo__charitystatus">
		<small>Liberty Church is a registered charity in England and Wales 1161640</small>
	</div>

	<div class="column contentinfo__copyright">
		<small>Copyright © 2018 Liberty Church. All rights reserved. <a href="{{ site.baseurl }}/privacy-policy">Privacy Policy</a></small>
	</div>



</div>

</footer>
