<nav class="drawer" data-action="nav">
  <div class="drawer__block">
    <div class="drawer__logo">
      <svg><use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#liberty"></use></svg>
    </div>
    <ul class="drawer__nav">
      <li><a class="drawer__link" href="index.html">Home</a></li>
      <li><a class="drawer__link" href="new-to-church.html">I'm new</a></li>
      <li><a class="drawer__link" href="who-we-are.html">Who we are</a></li>
      <li><a class="drawer__link" href="get-involved.html">Get involved</a></li>
      <li><a class="drawer__link" href="our-vision.html">Vision</a></li>
      <li><a class="drawer__link" href="what-we-believe.html">What we believe</a></li>
      <li><a class="drawer__link" href="#contact">Contact</a></li>
    </ul>
    <a class="drawer__close">
      <img class="drawer__close-icon js-drawer__close" width="20" height="17" data-action="nav-close" src="{{ site.baseurl }}/images/icons/menu-close.svg" alt="" />
    </a>
  </div>
</nav>
