<div class="newsletter">
  <div class="newsletter__inner">
    <h2 class="newsletter__title">Signup to our newsletter</h2>
      <form action="//LibertyChurchUK.us9.list-manage.com/subscribe/post?u=ecd5e36622dcf399cd2dbae7f&amp;id=0c3fc3eb0c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="input-group">
          <input type="email" value="" name="EMAIL" class="input-field newsletter__email" id="mce-EMAIL" placeholder="Email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ecd5e36622dcf399cd2dbae7f_0c3fc3eb0c" tabindex="-1" value=""></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="input-item newsletter__button">
        </div>
      </form>
    </div>
</div>
