<div class="newsletter">
  <div class="newsletter__inner">
    <h2 class="newsletter__title">Keep me updated</h2>
    <p>If you would like to recieve regular updates on the life of the church then please add your email address below.</p>
      <form action="//LibertyChurchUK.us9.list-manage.com/subscribe/post?u=ecd5e36622dcf399cd2dbae7f&amp;id=0c3fc3eb0c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mb2" target="_blank" rel="external noopener" novalidate>
        <div class="input-group">
          <label for="mce-EMAIL" class="sr-only">Email address</label>
          <input type="email" value="" name="EMAIL" class="input-field newsletter__email" id="mce-EMAIL" placeholder="Email address" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ecd5e36622dcf399cd2dbae7f_0c3fc3eb0c" tabindex="-1" value="" aria-hidden="true"></div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="input-item newsletter__button">
        </div>
      </form>
      <small class="ph2 o-80">Once you've submitted your email address you'll have the oppourtunity to specify how you wish to be contacted.</small>

    </div>
</div>
