---
title: New to church
layout: default
description: Liberty Church is for everyone no matter your background or age. It's
  not easy starting out on a new journey, so we hope you come and visit us soon.
image: bg-new-to-church.jpg
body:
- template: block-large-page-title
  title: I'm new
  subtitle: It's not easy starting out on a new journey, take a look at what Liberty
    Church is all about.
- template: content-block
  title: e.g. New to church
  size: Medium
  overlay_colour: rgb(49, 54, 64)
  overlay_opacity: Opacity 60
  subtitle: |2-


    The main celebration runs for about an 1hour 20mins and includes a time of singing, prayer and an encouraging message.
  background_image: "/v1600402729/bg-service_xs80nl.jpg"
  add_overlay_: true
  call_to_action:
  - template: call-to-action
    video_link: true
    link: https://vimeo.com/239672587
    button_text: Play video
    external_link: false
  description: ''
  logo: ''
menu:
  sidebar:
    title: I'm new
    weight: 2

---
<img src="https://res.cloudinary.com/libertychurchuk/image/upload/v1600402729/bg-service_tvlcc6.jpg"><section>
  {% include /header-blocks/new.html %}
   {% include /blocks/service.html %}
  {% include /grids/service-faq.html %}
  <div class="row flex flex-row flex-wrap mw-none">
    <div class="column">
      <article class="content-block theme-deep">
        <div class="content-block-inner">
          <h1 class="content-block__heading content-block__heading--cta">What we believe</h1>
          <h2 class="content-block__subheading">statement of beliefs</h2>
          <div class="content-block__footer">
            <p>
              <a class="btn btn--outline" href="/what-we-believe/index.html">
                <span class="sr-only">View our statement of faith</span>
                <svg class="icon icon--light">
                  <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#chev-right"></use>
                </svg>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="content-block  theme-deep">
        <div class="content-block-inner">
          <h1 class="content-block__heading content-block__heading--cta">Vision</h1>
          <h2 class="content-block__subheading">the Church we want to see</h2>
          <div class="content-block__footer">
            <p>
              <a class="btn btn--outline" href="/our-vision/index.html">
                <span class="sr-only">View our vision statement</span>
                <svg class="icon icon--light">
                  <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#chev-right"></use>
                </svg>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

  {% include /blocks/after-service.html %}
  {% include /blocks/be-part-of-us.html %}
</section>