---
title: New to church
layout: default
description: Liberty Church is for everyone no matter your background or age. It's
  not easy starting out on a new journey, so we hope you come and visit us soon.
image: bg-new-to-church.jpg
body:
- template: block-large-page-title
  title: I'm new
  subtitle: It's not easy starting out on a new journey, take a look at what Liberty
    Church is all about.
- template: content-block
  title: The service
  size: Medium
  overlay_colour: rgb(49, 54, 64)
  overlay_opacity: Opacity 60
  subtitle: The main celebration runs for about an 1hour 20mins and includes a time
    of singing, prayer and an encouraging message.
  background_image: "/v1600402729/bg-service_xs80nl.jpg"
  add_overlay_: true
  call_to_action:
  - template: call-to-action
    video_link: true
    link: https://vimeo.com/239672587
    button_text: Play video
    external_link: false
  description: ''
  logo: ''
- template: columns-block
  columns:
  - template: solid-block
    title: What we believe
    subtitle: Statement of beliefs
    background_colour: "#313640"
    call_to_action:
    - template: call-to-action
      link: "/what-we-believe/"
      button_text: View our statement of beliefs
      video_link: false
      external_link: false
    description: ''
    logo: ''
  - template: solid-block
    title: Vision
    subtitle: The church we want to see
    description: ''
    logo: ''
    background_colour: "#313640"
    call_to_action:
    - template: call-to-action
      button_text: View our vision statement
      link: "/our-vision/"
      video_link: false
      external_link: false
- template: content-block
  title: After the service
  size: Medium
  overlay_colour: rgb(132, 149, 125)
  overlay_opacity: Opacity 50
  subtitle: Why not join us after the service for tea and coffee. It's a great time
    to connect with each other and to find out more about Liberty Church and what's
    happening outside of a Sunday.
  description: ''
  logo: ''
  background_image: "/v1600403005/bg-after-service_dc268x.jpg"
  add_overlay_: true
  call_to_action: []
- template: content-block
  title: Become part of the family
  size: Medium
  overlay_colour: rgb(97, 109, 125)
  overlay_opacity: Opacity 80
  description: "<p></p>"
  subtitle: If you would like to make Liberty Church your home or would like to find
    out a bit more about us, please have a chat with one of the team.
  add_overlay_: true
  background_image: "/v1600403267/bg-be-part-of-us_yvn8nt.jpg"
  logo: ''
  call_to_action: []
menu:
  sidebar:
    title: I'm new
    weight: 2

---
<section>
  {% include /header-blocks/new.html %}
   {% include /blocks/service.html %}
  {% include /grids/service-faq.html %}
  <div class="row flex flex-row flex-wrap mw-none">
    <div class="column">
      <article class="content-block theme-deep">
        <div class="content-block-inner">
          <h1 class="content-block__heading content-block__heading--cta">What we believe</h1>
          <h2 class="content-block__subheading">statement of beliefs</h2>
          <div class="content-block__footer">
            <p>
              <a class="btn btn--outline" href="/what-we-believe/index.html">
                <span class="sr-only">View our statement of faith</span>
                <svg class="icon icon--light">
                  <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#chev-right"></use>
                </svg>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="column">
      <article class="content-block  theme-deep">
        <div class="content-block-inner">
          <h1 class="content-block__heading content-block__heading--cta">Vision</h1>
          <h2 class="content-block__subheading">the Church we want to see</h2>
          <div class="content-block__footer">
            <p>
              <a class="btn btn--outline" href="/our-vision/index.html">
                <span class="sr-only">View our vision statement</span>
                <svg class="icon icon--light">
                  <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#chev-right"></use>
                </svg>
              </a>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>

  {% include /blocks/after-service.html %}
  {% include /blocks/be-part-of-us.html %}
</section>