---
title: Our story
layout: default
description: We are a community of everyday people in which Jesus is central, in all
  we do, as we seek to embrace our city and nation we live in.
image: og-who-we-are.jpg
---

<section>
{% include /header-blocks/who-we-are.html %}
{% include /grids/hatherleigh.html %}
{% include /grids/alway.html %}
{% include /grids/llanwern.html %}
<header class="content-block content-block--header theme-deep">
  <div class="content-block-inner">
    <h2 class="header-block__heading">Leadership</h2>
  </div>
</header>
{% include /grids/leaders.html %}


</section>
