.article {

  hr {
  margin: 0 auto 16px;
  width: 12.5em;
  border-color: $bordercolor;
  }

}

.article__header {
padding-top: 4em;
margin-bottom: $baselineheight * 2;
}

.article__author {
  text-align: center;
}

.article__media {
padding: 2rem 0;
background: $blackrock;
}

.article__titles {
padding: 0 1.5rem;
margin-bottom: 3rem;
}

.article__date {
font-size: 0.875em;
text-transform: uppercase;
text-align: center;
display: block;
margin-bottom: $baselineheight / 2;
}

.article__heading {
text-align: center;
font-size: 2.5em;
margin-bottom: $baselineheight / 4;
}

.article__subheading {
text-align: center;
font-size: 1.75em;
font-weight: bold;
line-height: 1.5;
margin-bottom: $baselineheight / 4;
}

.article__meta {
text-align: center;
display: block;
margin-bottom: $baselineheight * 2;

  ul {
    list-style: none;
  }

  li {
    padding: 0 10px;
    display: inline-block;
  }
}

.article__feature-image {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  margin-bottom: 2em;
}

.article__body {
  max-width: 48rem;
  margin: 0 auto;

  img { width: 100%;}
}

.lead {
  font-size: 1.125em;
  font-weight: bold;
}
.article__footer {
  padding: 1em 1.5em;
  max-width: 800px;
  margin: 0 auto;
  border-top: 1px solid $bordercolor;
  border-bottom: 1px solid $bordercolor;
}

// .author {
// overflow: hidden;
// text-overflow: ellipsis;
// white-space: nowrap;
// }


.author__image img {
border-radius: 50%;
width: 48px;
height: 48px;
margin-right: $gutterwidth / 2;
}


.article-meta {
display: block;
text-align: center;
margin: 0 auto;
margin-bottom: 1.6em;
padding: 0;

  li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 0.5em;

  &:last-child {margin-right: 0;}

  }

}
