.content-block {
  position: relative;
  width: 100%;
  font-size: 1.125em; //18px/16px
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  iframe {
    margin-bottom: 0;
  }
}

.content-block--align-top {
  justify-content: flex-start;
}

.content-block-inner {
  @include z-index(content-block);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
}

.content-block__content {
  width: 100%;
  z-index: 1;
}

.content-block__heading {
  @include z-index(content-block);
  text-transform: uppercase;
  font-size: 2.25rem; //36/16
  margin-bottom: 0.5em;
}

.fonts-loaded .content-block__heading--cta {
  font-family: lovetime_cleanregular, sans-serif;
  text-transform: none;
  color: $white;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0;
  font-size: 3.5rem;

  @include medium {
    font-size: 4rem;
  }

  @include large {
    font-size: 4.5rem;
  }
}

.header-block__heading {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 4rem;
  margin: 0;
  transition: font-size 0.3s ease;
  color: $shipcove;
  line-height: 1;

  @include medium {
    font-size: 6rem;
  }

  @include large {
    font-size: 8rem;
  }
}

.header-block--descender {
  line-height: 1.4;
}

.fonts-loaded .header-block__heading {
  font-family: lovetime_cleanregular, sans-serif;
}

.header-block__subheading {
  font-size: 1.75em; //28/16
  margin-bottom: 0.5em;
  z-index: 1;
  font-weight: 100;
  padding-top: 2rem;
}

.content-block__subheading {
  z-index: 1;
  font-weight: 100;

  .icon {
    display: block;
    margin: 0 auto 0.5em;
  }
}

.content-block__footer {
  @include z-index(content-block);
}

.content-block--image {
  background-position: top center;
  background-size: cover;
  min-height: 400px;

  @include large {
    min-height: 540px;
  }
}

.content-block--overlay,
.content-block--overlay-shiraz,
.content-block--overlay-dark,
.content-block--overlay-blackrock {
  @include z-index(content-overlay);

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    content: "";
  }
}

.content-block--overlay {
  &:before {
    background: rgba($black, 0.2);
  }
}

.content-block--overlay-blackrock {
  &:before {
    background: rgba($blackrock, 0.6);
  }
}

.content-block--header {
  padding: 3em 1em 2em;
}

.content-block--left {
  .content-block__content {
    @include medium {
      width: 60%;
    }
  }

  .content-block-inner {
    @include medium {
      align-items: flex-start;
      text-align: left;
    }
  }
}

.content-block--right {
  .content-block__content {
    @include medium {
      width: 60%;
    }
  }

  .content-block-inner {
    @include medium {
      align-items: flex-end;
      text-align: right;
    }
  }
}
.c-block {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: $blackrock;
  color: $whitesmoke;
  font-size: 1.125em; //18px/16px
  text-align: center;
  justify-content: center;

  iframe {
    margin-bottom: 0;
  }
}

.c-block--header {
  padding: 3em 1em 2em;
}

.c-block--two-column {
  flex-direction: column-reverse; // Ensures image is displayed before text block

  @include medium {
    flex-direction: row;

    > div {
      flex: 0 1 50%;
    }
  }
}

.c-block-img--bg {
  position: absolute;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  @include z-index(block-image);
}

.c-block-img--cover {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.c-block-img--contain {
  object-fit: contain;
}

.c-block-img--rounded {
  margin-top: 1.5rem;
}

// Overlays
// -------------------------------------------------------

.c-block-overlay:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  @include z-index(block-overlay);
  background-color: $blackrock;
}

.c-block-overlay-opacity-10:after {
  opacity: 0.1;
}
.c-block-overlay-opacity-20:after {
  opacity: 0.2;
}
.c-block-overlay-opacity-30:after {
  opacity: 0.3;
}
.c-block-overlay-opacity-40:after {
  opacity: 0.4;
}
.c-block-overlay-opacity-50:after {
  opacity: 0.5;
}
.c-block-overlay-opacity-60:after {
  opacity: 0.6;
}
.c-block-overlay-opacity-70:after {
  opacity: 0.7;
}
.c-block-overlay-opacity-80:after {
  opacity: 0.8;
}
.c-block-overlay-opacity-90:after {
  opacity: 0.9;
}

// --------------------------------------------------------

.c-block-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  @include z-index(block-inner);

  @include medium {
    padding: 3rem;
  }
}

.c-block-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-block-image-left {
  flex-direction: column-reverse;

  @include medium {
    flex-direction: row-reverse;
    > div {
      flex: 0 0 50%;
    }
  }
}

// Text alignment of a block

.c-block-text-left {
  align-items: flex-start;
  text-align: left;
}

.c-block-text-center {
  align-items: center;
  text-align: center;
}

.c-block-text-right {
  align-items: flex-end;
  text-align: right;
}

// Set height of block

.c-block-size-small {
  min-height: 20em; // 320/16
}
.c-block-size-medium {
  min-height: 30em; // 480/16
}
.c-block-size-large {
  min-height: 33.75em; // 540/16
}
.c-block-size-xlarge {
  min-height: 40em; // 640/16
}
.c-block-size-fill {
  min-height: 100vh;
}

// Text alignment

.c-block-align-left {
  text-align: left;
}

.c-block-heading {
  text-transform: uppercase;
  font-size: 2.25rem; //36/16
  margin-bottom: 0.5rem;
}

.c-block-subheading {
  margin: 0;
  font-size: 1.5rem; //24/16
  font-weight: 100;
  margin-bottom: 1rem;
}

.c-block-media-object {
  display: flex;

  .c-block-inner {
    flex: 1;
  }
}

.bg-purple {
  background-color: purple;
}
.bg-orange {
  background-color: orange;
}
.bg-black {
  background-color: #000;
}

.bg-blue {
  background-color: #0953a2;
}

.bg-charcoal {
  background-color: #1e1e1e;
}

.white {
  color: #fff;
}
.black {
  color: #1d1d1d;
}

.c-block-actions {
  > * + * {
    margin-top: 1em;
  }

  @include medium {
    display: flex;

    > * + * {
      margin-top: 0;
      margin-left: 1em;
    }
  }
}

.c-grid {
  @include medium {
    display: grid;
  }
}

.c-grid-align-start {
  align-items: start;
}
.c-grid--two {
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}

.c-grid--three {
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

.c-grid--four {
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

.c-card {
  position: relative;
  max-width: 100%;
  background-color: #444;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.c-card,
.c-card__link {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.c-card__link {
  height: 100%;
  box-shadow: 0.2s cubic-bezier(0.41, 0.56, 0.05, 0.95),
    color 0.2s cubic-bezier(0.41, 0.56, 0.05, 0.95);
  &:hover {
    box-shadow: 0 0 0 4px #383838;
  }
  @include medium {
    flex-direction: row;
  }
}

.c-card__img-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;

  @include medium {
    flex: 1;
    height: auto;
    padding: 0;
  }
}

.c-card__img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  @include medium {
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
  }
}

.c-card__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 0 1.25rem;
  margin: 1.25rem 0;

  @include medium {
    flex: 2;
    height: auto;
  }
}

.c-card__title {
  position: relative;
  margin: 0.25rem 0 1.5rem;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #fff;
  transition: color 0.2s cubic-bezier(0.41, 0.56, 0.05, 0.95);
}

.c-card__tag {
  padding: 1px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #f2f2f2;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
}
