.collapsible-accordion {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: $collapsible-border-color;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: $collapsible-border-color;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: $collapsible-border-color;
  list-style: none;
  margin: 0;
  padding: 0;
}
.collapsible-accordion__panel[aria-hidden="true"] {
  display: none;
}

.collapsible-accordion__panel {
  border-bottom: 1px solid $collapsible-border-color;
  box-sizing: border-box;
  padding: 1rem;
}

.collapsible-accordion__header {
  display: block;
  cursor: pointer;
  padding: 1rem;
  border: none;
  background-color: $collapsible-header-color;
  border-bottom: 1px solid $collapsible-border-color;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

// title opened
.collapsible-accordion__header[aria-expanded="true"]:before {
  content: "- ";
}

// title closed
.collapsible-accordion__header[aria-expanded="false"]:before {
  content: "+ ";
}

// title selected
//.collapsible-accordion__header[aria-selected="true"]:after {
//  content: " (sel)";
//}

//title non selected
//.collapsible-accordion__header[aria-selected="false"]:after {
//  content: " (unselc)";
//}

.collapsible-accordion__title {
  display: none;
}
