.sticky-header {
@include z-index(sticky-header);
position: relative;
top: 0;
border-bottom: 1px solid $whitesmoke;
will-change: transform;
}

@include medium {

  .sticky-header {
    position: fixed;
    left: 0;
    right: 0;
  }

}

.sr-only {
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
overflow: hidden;
position: absolute !important;
width: 1px;
}
