@font-face {
    font-family: 'lovetime_cleanregular';
    src: url('../fonts/lovetime_clean-webfont.woff2') format('woff2'),
         url('../fonts/lovetime_clean-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
