.contentinfo {
position: relative;
}

.contentinfo__contact,
.contentinfo__newsletter,
 {
text-align: center;
background: $blackrock;
color: $whitesmoke;
padding: 2rem;

  svg { display: block; margin: 0 auto 1em;}
  a {
  color: lighten($linkcolour, 5%);
  display: block;

  	&:hover {color: $linkcolour;}

  }

}

.contentinfo__newsletter {
  padding: 0 0 2rem;
}


.contentinfo__logo {
height: 80px;
opacity: 0.85;
margin: 2em 0;
}

.contentinfo__smallprint {
margin: 0;
padding: 2rem;
background: darken($blackrock, 5%);
color: darken($whitesmoke, 25%);
font-size: 1rem;
}

.contentinfo__charitystatus {
color: rgba($white, 0.7);
}

.contentinfo__copyright {

  small {
    width: 100%;
  }
  @include medium {
  text-align: right;
  }
}

.contentinfo__contact--tel,
.contentinfo__contact--email,
.contentinfo__contact--address {
  padding: 0.5em;
  flex-direction: column;
 a {color: $whitesmoke;}
}
