.row {
max-width: 75em;
margin-left: auto;
margin-right: auto;
}

.column {
flex-basis: 100%;

  @include medium {
  display: flex;
  flex: 1;
  }

}

.sm-order-1 {order: 1;}
.sm-order-2 {order: 2;}
.sm-order-3 {order: 3;}
.sm-order-4 {order: 4;}
.sm-order-5 {order: 5;}
.sm-order-6 {order: 6;}

@include medium {
  .md-order-1 {order: 1;}
  .md-order-2 {order: 2;}
  .md-order-3 {order: 3;}
  .md-order-4 {order: 4;}
  .md-order-5 {order: 5;}
  .md-order-6 {order: 6;}
}

.container {
margin-left: auto;
margin-right: auto;
display: block;
overflow: visible;

  @include medium {
  max-width: 60em;
  }

}


.block-grid .card {
//flex: 1 0 auto;

 @include small {
  //max-width: 100%;
  flex-basis: 100%;
  }

  @include medium {
  //max-width: 50%;
  flex-basis: 50%;
  }

  @include large {
  //max-width: 33%;
  flex-basis: 33%;
  }

  @include xlarge {
  //max-width: 25%;
  flex-basis: 25%;
  }

}
