.nav {
display: none;
margin-right: 30px;
}

  @include medium {
    .nav {
    display: block;
    }
  }


.nav__link {
display: inline-block;
margin-right: 1rem;
text-decoration: none;

  &:hover {
  text-decoration: underline;
  }

  &:last-child {
  margin-right: 0;
  }

  &.is-active {
  font-weight: bold;
  }

}

  @include medium {

    .nav__link {
    margin-right: 20px;
    }

  }

  @include large {

    .nav__link {
    margin-right: 30px;
    }

  }



.subnav__link {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  padding: 6px;
  text-decoration: none;

  &:hover {
    background-color: $silver;
    color: $white;
  }

  &.is-active {
    background-color: $shipcove;
    color: $white;
  }
}
