.nav {
display: none;
list-style-type: none;
margin: 0;
padding: 0;
margin-right: 30px;

  @include medium {
  display: block;}

}

.nav__item {
display: inline-block;
margin-right: 1rem;

  &:last-child {
  margin-right: 0;}

  @include medium {
  margin-right: 20px;}

  @include large {
  margin-right: 30px;}

}

.nav__link {
text-decoration: none;

  &:hover,
  &:focus {
  text-decoration: underline;}

  &.is-active {
  font-weight: bold;}

}


.subnav__link {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin-right: 1rem;
  padding: 6px;
  text-decoration: none;

  &:hover {
    background-color: $silver;
    color: $white;
  }

  &.is-active {
    background-color: $shipcove;
    color: $white;
  }
}
