.theme-error {
background-color: $shiraz;
color: $whitesmoke;

  .header-block__heading {
  color: $white;
  margin-bottom: 1.5rem;
  }

  a {
    color: $whitesmoke;
  }

}

.theme-dark {
  background-color: $blackrock;
  color: $whitesmoke;

  .header-block__heading {
    color: $white;
  }

  .btn--outline {
  background-color: rgba($shiraz, 0);
  color: $whitesmoke;

    &:hover,
    &:focus {background-color: lighten($shiraz, 10%);}

  }

  .c-block-inner a {
    color: $white;
  }
}

.theme-light {
background-color: $white;
color: $textcolor;

  .btn {
  background-color: $shipcove;
  color: $whitesmoke;

    &:hover,
    &:focus {background-color: darken($shipcove, 10%);}

  }

  .btn--outline {
  background-color: rgba($shipcove, 0);
  border-color: $shipcove;
  color: $shipcove;

    &:hover,
    &:focus {
    background-color: darken($shipcove, 10%);
    color: $whitesmoke;
    }

  }

}


// Social Themes
.theme-instagram,
.theme-twitter,
.theme-vimeo,
.theme-facebook {
padding: 1.5rem;
transition: background-color 0.3s ease;
}

.theme-instagram {
background-color: $instagram;

  &:hover,
  &:focus {background-color: darken($instagram, 10%)}

}

.theme-twitter {
background-color: $twitter;

  &:hover,
  &:focus {background-color: darken($twitter, 10%)}

}

.theme-facebook {
background-color: $facebook;

  &:hover,
  &:focus {background-color: darken($facebook, 10%)}

}

.theme-vimeo {
background-color: $vimeo;

  &:hover,
  &:focus {background-color: darken($vimeo, 10%)}

}


.theme-home-header {
background-color: $codgrey;
color: $whitesmoke;

  .btn {
  background-color: $shiraz;
  color: $whitesmoke;

    &:hover,
    &:focus {background-color: lighten($shiraz, 10%);}

  }

  .header-block__heading {
  z-index: 1;
  color: #fff;

    span {
    display: block;
    font-size: 0.375em;
    }

    @include large {
    //font-size: 8em;
    }

  }

  .home__logo {
  position: relative;
  top: -3rem;
  left: -0.5rem;
  }

  .home__time {
    margin: 0;
  }

  .home__location {
    margin-bottom: 1.5rem;
  }

}
