$z-index: (
  mediabox           : 7,
  off-canvas         : 6,
  sticky-header      : 5,
  global-alert       : 2,
  block-inner        : 3,
  block-overlay      : 2,
  block-image        : 1,
  content-block      : 1,
  topbar             : 1,
  content-overlay    : 0
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
z-index: z-index($key);
}
