$z-index: (
  mediabox           : 5,
  off-canvas         : 4,
  sticky-header      : 3,
  global-alert       : 2,
  content-block      : 1,
  topbar             : 1,
  content-overlay    : 0
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
z-index: z-index($key);
}
