.contentinfo__contact {
text-align: center;
background: $blackrock;
color: $whitesmoke;
padding: 2rem;
}

.contentinfo__logo {
height: 100px;
margin: 2em 0;
}

.contentinfo__copyright {
margin: 0;
padding: 2rem;
background: darken($blackrock, 5%);
color: darken($whitesmoke, 40%);
border-top: 1px solid lighten($blackrock, 15%);
font-size: 1rem;
}
