<article class="card card--message">
  <div class="card-inner">
    
    <div class="card__image">
      <img src="{{ site.cloudinary_url }}/w_480,h_270,c_fill/f_auto{{ item.image }}" alt="{{ item.title }}" />
    </div>
  
    <div class="card__body">
      <h3 class="card__title">{{ item.title }}</h3>

      {% if item.day.size > 1 %}
      <div><b>Day:</b> {{ item.day }}</div>
      {% endif %}

      {% if item.time.size > 1 %}
      <div><b>Time:</b> {{ item.time }}</div>
      {% endif %}

      {% if item.location.size > 1 %}
      <div><b>Location:</b> {{ item.location }}</div>
      {% endif %}

      {% if item.started.size > 1 %}
      <div><b>Started:</b> {{ item.started }}</div>
      {% endif %}

      {% if item.description.size > 1 %}
      <div class="mt3">{{ item.description }}</div>
      {% endif %}

    </div>
  </div>
</article>