<article class="card card--group">
  <div class="card-inner">
    
    <div class="card__image card__image--bnw">
      <img src="{{ site.cloudinary_url }}/w_480,h_480,c_fill/f_auto{{ item.image }}" alt="{{ item.title }}" />
    </div>
  
    <div class="card__body">
      <h3 class="card__title">{{ item.title }}</h3>

      {% if item.location.size > 1 %}
      <div><b>Location:</b> {{ item.location }}</div>
      {% endif %}

      {% if item.when.size > 1 %}
      <div><b>When:</b> {{ item.when }}</div>
      {% endif %}

      {% if item.description.size > 1 %}
      <hr>
      <div class="mt3">{{ item.description }}</div>
      {% endif %}


    </div>
  </div>
</article>