{% assign author = site.authors | where: 'relative_path', item.author | first %}

{% if author.avatar.size > 1  %}
<article class="card card--author">
  <a class="card-inner" href="{{ author.url }}">
    <div class="card__image">
      <img src="{{ site.cloudinary_url }}/w_250,h_250,c_fill,g_face,r_max/f_auto{{ author.avatar }}" alt="A portrait photo of {{ author.title }}" />
      {% else %}
      <article class="card card--author card--noimage">
        <a class="card-inner" href="{{ author.url }}">
          <div class="card__image">
      
      {% endif %}
    </div>
    

    <div class="card__body">
      <h3 class="card__title">{{ author.title }}</h3>
     
      {% if author.description.size > 1 %}
        <div class="card__text">{{ author.bio }}</div>
      {% endif %}
    </div>

  </a>
</article>
