<article class="c-block theme-light">

  <div class="c-block-inner c-block-text-left">

    <h2 class="c-block-small-heading">{{ item.title }}</h2>
    {% if item.leaders.size > 1 %}
    <p role="doc-subtitle" class="c-block-subheading">{{ item.leaders }}</p>
    {% endif %}

    <ul class="list--nobullets mb3">
    {% if item.location.size > 1 %}
      <li><strong>Location:</strong> {{ item.location }}</li>
    {% endif %}

    {% if item.day.size > 1 %}
      <li><strong>Day:</strong> {{ item.day }}</li>
    {% endif %}

    {% if item.time.size > 1 %}
      <li><strong>Day:</strong> {{ item.time }}</li>
    {% endif %}
    </ul>

    {% if item.description.size > 1 %}
      <div>{{ item.description }}</div>
    {% endif %}

  </div>
</article>