<ul class="article-meta">

  {% assign series = site.series | where: 'relative_path', page.series | first %}

  {% if page.series.size > 1 %}
  <li class="item__series">
    <a href="/series/{{series.slug}}">{{ series.title }}</a>
  </li>
  {% endif %}


  {% if page.scripture.size > 1 %}
  <li class="item__scripture">
    <svg class="icon">
      <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#bible"></use>
    </svg> {{ page.scripture }}
  </li>
  {% endif %}

  {% if page.duration.size > 1 %}
  <li class="item__duration">
    <svg class="icon">
      <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#duration"></use>
    </svg> {{ page.duration }}
  </li>
  {% endif %}
  
  {% if page.file.size > 1 %}
  <li class="item__download">
    <svg class="icon">
      <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#download"></use>
    </svg>
    <a href="https://s3.eu-west-2.amazonaws.com/messages.libertychurchuk.com/data{{ page.file }}">Download MP3</a>
  </li>
  {% endif %}

</ul>