<div class="content-block theme-home-header content-block--home-image">
  <h1 class="sr-only">Liberty Church, Newport</h1>
  <h2 class="header-block__heading">For such a time as this <span>Esther 4:14</span></h2>

  <div class="content-block__content">
    <!--  <h3 class="mb4">Join us online on Sunday mornings</h3>
    <div class="home__time">10.30am</div>
    <div class="home__location">Llanwern High School, Hartridge Farm Road, Newport, NP18 2YE</div> -->
  </div>
  <div class="content-block__footer">
   <a class="btn" href="https://www.facebook.com/libertychurchfamily/" target="_blank" rel="external noopener">Join us online</a>
   <a class="btn btn--outline" href="{{ site.baseurl }}/covid-19">COVID-19 update</a>
  </div>
</div>
