<article class="content-block content-block--overlay-after-service theme-dark content-block--image" style="background-image: url('{{ site.baseurl }}/images/bg-after-service.jpg')">
  <div class="content-block-inner">
    <h2 class="content-block__heading">After the service</h2>
    <div class="content-block__content">
      <p>Why not join us after the service for tea and coffee. It's a great time to connect with each other and to find out more about Liberty Church and what's happening outside of a Sunday.</p>
    </div>
  </div>
</article>
