<article class="content-block">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      Alway Community Centre
    </h2>
    <h2 class="content-block__subheading">
      Quickly outgrew
    </h2>
    <div class="content-block__content">
      <p>In May 2015 we moved into Alway Community Centre. We had outgrown Hatherleigh and it was time expand into a larger home.
Again, we created some great memories here and celebrated our 1st birthday as a Church. We launched Girls &amp; Boy’s Brigade, our mid-week children’s provision which is still running in the heart of the Alway Community.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
