<article class="content-block">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      <span class="sr-only">Boys brigade and girls brigade</span>
      <img src="{{ site.baseurl }}/images/logos/bbgb.png" width="500" alt="" role="presentation"/>
    </h2>
    <div class="content-block__content">
      <p>Girls and Boys Brigade meet term time on a Friday night 5-6.30pm for children aged 5-11. Each evening is full of fun, arts and crafts, time with friends and a chance to hear about how amazing our God is.</p>
    </div>
  </div>
</article>
