<article class="content-block content-block--overlay-part-of-us theme-dark content-block--image" style="background-image: url('{{ site.baseurl }}/images/bg-be-part-of-us.jpg')">
  <div class="content-block-inner">
    <h2 class="content-block__heading">Become part of the family</h2>
    <div class="content-block__content">
      <p>If you would like to make Liberty Church your home or would like to find out a bit more about us, please let one of the welcome team know on a Sunday or have a chat with one of the leadership team.</p>
    </div>
  </div>
</article>
