<article class="content-block content-block--right content-block--overlay theme-dark content-block--image" style="background-image: url('{{ site.baseurl }}/images/warriors.jpg')">
  <div class="content-block-inner">

    <h2 class="content-block__heading">Warriors</h2>
    <div class="content-block__content">
      <p>Our 5 week foundation course offers a great opportunity to understand our culture, explore the essentials of the Christian faith and also see what we believe as a church.</p>
    </div>
    <!--<div class="content-block__footer"><a class="btn" href="https://www.facebook.com/blokeswales/" target="_blank">Facebook Page</a></div>-->
  </div>
</article>
