<article class="content-block content-block--right content-block--overlay theme-dark content-block--image" style="background-image: url('{{ site.baseurl }}/images/bg-warriors.jpg')">
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      <span class="sr-only">Warrior</span>
      <img src="{{ site.baseurl }}/images/logos/warrior.png" width="350" role="presentation"/>
    </h2>
    <div class="content-block__content">
      <p>Warrior is Liberty Church’s Mens Ministry. We want men to win, for their lives to matter and make a difference. We desire to see men equipped and trained with skills necessary to live well. We believe a man’s relationship with God is vital.</p>
    </div>
    <!--<div class="content-block__footer"><a class="btn" href="https://www.facebook.com/blokeswales/" target="_blank">Facebook Page</a></div>-->
  </div>
</article>
