<article class="content-block">
  <img
  sizes="(max-width: 1920px), 1920px"
  srcset="
  https://res.cloudinary.com/libertychurchuk/image/upload/f_auto,q_70,w_320,h_240,c_fill/Sunday30thDec2018.jpg 320w,
  https://res.cloudinary.com/libertychurchuk/image/upload/f_auto,q_70,w_1312,h_738,c_fill/Sunday30thDec2018.jpg 1324w,
  https://res.cloudinary.com/libertychurchuk/image/upload/f_auto,q_70,w_1920,h_1080,c_fill/Sunday30thDec2018.jpg 1920w"
  src="https://res.cloudinary.com/libertychurchuk/image/upload/f_auto,q_70,w_320,h_240,c_fill/Sunday30thDec2018.jpg"
  alt="Sunday 30th December, Join us for our new year celebration at St Paul's, Bridge Street, Newport, NP20 4AL at 10.30am">
</article>
