<article class="content-block content-block--overlay-five-years theme-dark content-block--image" style="background-image: url('{{ site.baseurl }}/assets/images/bg-five-years.jpg')">
  <div class="content-block-inner">
    <h2 class="content-block__heading">Celebrating 5 years</h2>
    <div class="content-block__content">
      <p>We recently celebrated five years of Liberty Church and we're so grateful for God's kindness and faithfulness.</p>
    </div>
    <div class="content-block__footer">    <a href="https://vimeo.com/389221733" class="btn mediabox" aria-label="Play video">
      <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#video"></use>
      </svg> Watch the video
    </a></div>
  </div>
</article>
