<article class="content-block">
  <img src="{{ site.baseurl }}/assets/images/gaz-lois.jpg" alt="An outside portrait of Gaz and Lois Hillier"/>
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      Gaz &amp; Lois Hillier
    </h2>
    <div class="content-block__content">
      <p>Gaz & Lois originally met in Australia where their story began. Gaz is from Newport and Lois moved from London when they got married! They have two children, Macey and Hudson. Gaz speaks nationally with a charity that focuses on faith in the family and strengthening family life. Lois loves all things creative and design and loves to see this outwork in the local Church.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
