<article class="content-block">
  <img src="{{ site.baseurl }}/assets/images/graham-daryl.jpg" alt="An outside portrait of Daryl and Graham Sheppard" />
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      Graham &amp; Daryl Sheppard
    </h2>
    <div class="content-block__content">
      <p>Graham and Daryl have two grown up boys. Married for almost 40 years, they are faithful people, who’s hearts long to see people know who their God truly is.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
