<article class="content-block">
  <img src="{{ site.baseurl }}/assets/images/graham-daryl.jpg" alt="An outside portrait of Daryl and Graham Sheppard" />
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      Graham &amp; Daryl Sheppard
    </h2>
    <div class="content-block__content">
      <p>Graham and Daryl are faithful people, who’s hearts long to see people know who their God truly is. They have lived in Newport for many years with their two grown up boys. They have been business owners in Newport for a number of years and have a legacy of taking the gospel across the world. Graham has a heart for the nations and particularly Nepal where he has seen leaders strengthened and encouraged over the years.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
