<article class="content-block theme-dark">
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      <span class="sr-only">Liberty groups</span>
      <img src="{{ site.baseurl }}/images/logos/groups.png" width="220" alt="" role="presentation"/>
    </h2>
    <div class="content-block__content">
      <p>Liberty groups are at the heart of the church. They are a place to build relationships, enjoy time together, to grow, learn and be discipled. We believe in community, where people are looked after, loved and can flourish.</p>
      <a href="https://vimeo.com/233647160" class="btn mediabox" aria-label="Play video">
        <svg class="icon icon--large icon--light">
          <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#video"></use>
        </svg> Play video
      </a>

    </div>
    <div class="content-block__footer"><a class="btn btn--outline" href="mailto:hello@libertychurchuk.com">Get in touch to find a group</a>
    </div>
  </div>
</article>
