<article class="content-block theme-dark">
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      <span class="sr-only">Liberty groups</span>
      <img src="{{ site.baseurl }}/assets/images/logos/groups.png" width="220" alt="" role="presentation"/>
    </h2>
    <div class="content-block__content">
      <p>Liberty groups are at the heart of the church. They are a place to build relationships, enjoy time together, to grow, learn and be discipled. We believe in community, where people are looked after, loved and can flourish.</p>
    </div>
    <div class="content-block__footer">
        <a class="btn btn--outline" href="/get-involved/liberty-groups/">View our groups</a>
    </div>
  </div>
</article>
