<article class="content-block">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      Hatherleigh Community Centre
    </h2>
    <h2 class="content-block__subheading">
      Where it all started
    </h2>
    <div class="content-block__content">
      <p>After our launch night at The Lysaght Institute, we moved to Hatherleigh Community Centre in February 2015 and made this our first home.</p>
      <p>The centre is right in the heart of a community and we built some great relationships there. This first home was a place of firsts. We celebrated Easter, Mother’s Day, ran Messy Church to name a few!</p>
      <p>In 2015 we launched Liberty Groups, a place where people can meet in homes across our city, be discipled and do life together.
Since moving on, we have kept a great relationship and presence there with our Liberty Lambs (Parent &amp; Toddler) provision.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
