<article class="content-block">
  <img src="{{ site.baseurl }}/images/heathandleah.jpg" />
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      Heath &amp; Leah Van Staden
    </h2>
    <h2 class="content-block__subheading">
      Elders
    </h2>
    <div class="content-block__content">
      <p>Heath and Leah live in Newport with their 3 children. Married for 12 years, they long to see people walk in all God has for them. They desire to see leaders raised and to finish well.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
