<article class="content-block">
  <img src="{{ site.baseurl }}/assets/images/heath-leah.jpg" alt="An outside portrait of Heath and Leah Van Staden"/>
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      Heath &amp; Leah van Staden
    </h2>
    <div class="content-block__content">
      <p>Heath and Leah have three beautiful children Noah, Phoebe and Willow and have been married for a number of years. They love the place where God has planted them and long to see healthy marriages and families. Leah’s heart is to pursue true freedom in Christ and see this in other’s lives. Heath loves to raise leaders and release them in all they are called to be.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
