<article class="content-block theme-kids">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      <span class="sr-only">Liberty Kids</span>
      <img src="{{ site.baseurl }}/assets/images/logos/liberty-kids.png" width="300" alt="" role="presentation"/>
    </h2>
    <div class="content-block__content">
      <p>Our children are an essential part of the church, we want them to have God's best. Sunday mornings are action packed and full of fun. They will learn about how awesome our God is.</p>
    </div>
    <div class="content-block__footer"><a class="btn" target="_blank" rel="eternal noopener" href="https://www.facebook.com/groups/928137027266471/">Parents Facebook Group</a></div>
  </div>
</article>
