<article class="content-block">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      Llanwern High School
    </h2>
    <h3 class="content-block__subheading">
      Our home
    </h3>
    <div class="content-block__content">
      <p>In July 2016 we moved to our current venue, Llanwern High School. A place to grow in number, depth and influence. It was an exciting time in the September as we saw our Liberty Groups double in number. We know we are in this community for such a time as this.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
