<article class="content-block">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      Llanwern High School
    </h2>
    <h2 class="content-block__subheading">
      Our home
    </h2>
    <div class="content-block__content">
      <p>Integer turpis ex, aliquam id congue quis, vehicula quis dui. Vestibulum mattis laoreet odio, ac dignissim risus rhoncus vel. Sed sollicitudin porta luctus. Donec libero ipsum, rutrum feugiat erat et, convallis auctor purus.</p>
    </div>
    <div class="content-block__footer">
    </div>
  </div>
</article>
