<article class="content-block">
  <img src="{{ site.baseurl }}/assets/images/phil-julie.jpg" alt="An outside portrait of Phil and Julie Boalch"/>
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      Phil &amp; Julie Boalch
    </h2>
    <div class="content-block__content">
      <p>Phil and Julie live in Cwmbran and have two children. Phil is a great teacher of the Word and has led Church in various parts of Wales. Julie has a heart for recovery and helping those who are marginalised, having seen God work powerfully in her own life. They love adventuring together.</p>
    <div class="content-block__footer">
    </div>
  </div>
</article>
