<article class="content-block">
  <img src="{{ site.baseurl }}/images/philjulie.jpg" alt="An outside portrait of Phil and Julie Boalch"/>
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      Phil &amp; Julie Boalch
    </h2>
    <h3 class="content-block__subheading">
      Elders
    </h3>
    <div class="content-block__content">
      <p>Phil and Julie live in Cwmbran and have two children. They have been married for 7 happy years and have a real desire to see Gods people receive everything that Jesus has and wants for them.</p>
    <div class="content-block__footer">
    </div>
  </div>
</article>
