<article class="content-block content-block--overlay-blackrock theme-dark content-block--image" style="background-image: url('{{ site.baseurl }}/assets/images/bg-service.jpg')">
  <div class="content-block-inner">
    <h2 class="content-block__heading">The service</h2>
    <div class="content-block__content">
      <p>The main celebration runs for about an 1hour 20mins and includes a time of singing, prayer and an encouraging message.</p>
    </div>
    <div class="content-block__footer">
        <a href="https://vimeo.com/239672587" class="btn mediabox" aria-label="Play video">
          <svg class="icon icon--large icon--light">
            <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#video"></use>
          </svg> Play video
        </a>
    </div>
  </div>
</article>
