<article class="content-block content-block--right content-block--overlay theme-deep content-block--image" style="background-image: url('{{ site.baseurl }}/images/bg-warriors.jpg')">
  <div class="content-block-inner">

    <h2 class="content-block__heading">
      <span class="sr-only">Warriors</span>
      <img src="{{ site.baseurl }}/images/logos/warrior.png" width="350" alt="" role="presentation"/>
    </h2>
    <div class="content-block__content">
      <p>Warrior is Liberty Church’s mens ministry. We want men to win, for their lives to matter and to make a difference. We desire to see men equipped and trained with the skills necessary to live well. We believe a man’s relationship with God is vital.</p>
    </div>
    <div class="content-block__footer"><a class="btn btn--outline" href="https://www.facebook.com/everymanawarrior/" target="_blank" rel="external noopener">Facebook Page</a></div>
  </div>
</article>
