<article class="content-block content-block--left theme-dark content-block--overlay content-block--image" style="background-image: url('{{ site.baseurl }}/images/bg-courageous-women.jpg')">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      <span class="sr-only">Courageous women</span>
      <img src="{{ site.baseurl }}/images/logos/courageous-women.svg" width="220" alt="" role="presentation"/>
    </h2>
    <div class="content-block__content">
      <p>Courageous Women is the womens ministry of Liberty Church. We believe that women are born with purpose and destiny. We love to see women built up and released into all God has for them. We host worship nights, where the gifts of spirit flow and the word is preached.</p>
    </div>
    <!--<div class="content-block__footer"><a class="btn" href="#">Facebook Event</a></div>-->
  </div>
</article>
