<article class="content-block theme-youth">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      <span class="sr-only">Liberty youth</span>
      <img src="{{ site.baseurl }}/assets/images/logos/liberty-youth.png" width="350" alt="" role="presentation"/>
    </h2>
    <div class="content-block__content">
    <p>
      We have a fantastic youth program every Friday night in the heart of Newport.
      Kicking off at 6.30pm at St Pauls, 9 Bridge Street, NP20 4AL. We’re passionate about the young people in our city and are sold out in our desire to become a group of people who 
      ‘Love God & love people passionate, live dangerously and are influential.’</p>
    </div>
   <div class="content-block__footer">
     <a class="btn btn--outline" href="http://www.instagram.com/libertyyouthuk" target="_blank" rel="external noopener">FRIDAY NIGHTS</a> 
     <!--<a class="btn btn--outline" href="{{ site.baseurl }}/youth/squads" target="_blank" >#SQUADS</a>
     <a class="btn btn--outline" href="{{ site.baseurl }}/youth/youth-am" target="_blank" >YOUTH AM</a>
     <a class="btn btn--outline" href="{{ site.baseurl }}/youth/takeover" target="_blank" >TAKEOVER</a>-->
    </div>
</article>
