<article class="content-block theme-youth">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      <img src="{{ site.baseurl }}/images/logos/liberty-youth.png" width="350"/>
    </h2>
    <div class="content-block__content">
    <p>Liberty Youth is the youth ministry of Liberty Church. We’ll soon be launching a fantastic youth program on friday nights in the heart of Newport. We’re passionate about the young people in our city and are sold out in our desire to ‘Build Christ like, world changing, young leaders beyond our own capacity.’</p>
    </div>
    <!--<div class="content-block__footer"><a class="btn btn--outline" href="#">Facebook Group</a></div>-->
  </div>
</article>
