<article class="content-block theme-youth">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      <span class="sr-only">Liberty youth</span>
      <img src="{{ site.baseurl }}/assets/images/logos/liberty-youth.png" width="350" alt="" role="presentation"/>
    </h2>
    <div class="content-block__content">
    <p>
      'We’re passionate about the young people in our city and are sold out in our desire to become a group of people who ‘love God &amp; love people passionately, live dangerously and are influential’. Check out our Instagram for all that is happening with Liberty Youth’</p>
    </div>
   <div class="content-block__footer">
     <a class="btn btn--outline" href="http://www.instagram.com/libertyyouthuk" target="_blank" rel="external noopener">Liberty Youth Instagram</a> 
    </div>
</article>
