<div class="content-block">
  <div class="content-block-inner">
    <h3 class="content-block__subheading">
      <svg class="icon icon--large">
        <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#bottle"></use>
      </svg>
    Is there a mother&#8217;s area?
    </h3>
    <div class="content-block__content">
      <p>Yes, we have space for mums to take their children, but also to sit with newborns during the service. Please feel free to have your children in the main service. We are family and want you as mums to be a part of what is going on as much as possible.</p>
    </div>
  </div>
</div>
