<div class="content-block">
  <div class="content-block-inner">
    <h3 class="content-block__subheading">
      <svg class="icon icon--deep icon--large">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#feeding"></use>
      </svg>
    Is there a feeding&#8217;s area?
    </h3>
    <div class="content-block__content">
      <p>Yes, we have space for mums to take their children, but also to sit with newborns during the service. We are a family and want you, as mums to be a part of what is going on as much as possible.</p>
    </div>
  </div>
</div>
