<div class="content-block">
  <div class="content-block-inner">
    <h3 class="content-block__subheading">
      <svg class="icon icon--large">
        <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#car"></use>
      </svg>
      Where do I park?</h3>
    <div class="content-block__content">
      <p>If you are planning to attend one of our Sunday morning services, you will be greeted by one of our friendly welcoming team members who will help direct you to available parking. We have several spots reserved just for first-time visitors.</p>    </div>
  </div>
</div>
