<div class="content-block">
  <div class="content-block-inner">
    <h3 class="content-block__subheading">
      <svg class="icon icon--deep icon--large">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#kids"></use>
      </svg>
      What about my kids?
    </h3>
    <div class="content-block__content">
      <p>Liberty Kids runs every Sunday morning, which is for children from nursery age through to Year 6. The children are in the main service for part of praise and worship and then will have the opportunity to go out and have a fun time together. There is also a creche available for little ones during the preach, just speak to one of the welcome team to find out more.</p>
    </div>
  </div>
</div>
