<div class="content-block">
  <div class="content-block-inner">
    <h3 class="content-block__subheading">
      <svg class="icon icon--deep icon--large">
        <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#kids"></use>
      </svg>
      What about my kids?
    </h3>
    <div class="content-block__content">
      <p>Liberty Kids runs every Sunday morning, which is for children from nursery year through to Year 6. The children are generally in the main service for praise and worship and then will have the opportunity to go out and have a crazy, fun time with the kids church leaders.</p>
    </div>
  </div>
</div>
