---
title: Messages
layout: default
description: Messages from Liberty church.
pagination:
  enabled: true
  collection: messages
menu:
  sidebar:
    weight: 5

---
<header class="content-block content-block--header">
  <div class="content-block-inner">
    <h1 class="header-block__heading">Podcast</h1>
    <h2 class="content-block__subheading">Messages from Liberty church</h2>
  </div>
</header>



<div class="tc mb4">
  Subscribe
  <a href="https://itunes.apple.com/gb/podcast/liberty-church-newport-south-wales/id1236882329?mt=2&fbclid=IwAR3hKHIQh_31zspBBbdRzjz-CFM3LCc8llVoDn9LfT8aLr-9_LVSnWTjGs4" class="dib ph2 link" target="_blank" rel="noopener">iTunes</a>
  <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly93d3cubGliZXJ0eWNodXJjaHVrLmNvbS9wb2RjYXN0LnJzcw%3D%3D" class="dib ph2 link" target="_blank" rel="noopener">Google Podcasts</a>
  <a href="https://open.spotify.com/show/0d3P9GEurKqZ0w5KnewWqJ?si=PPFmCUQpSEmCAgrZ_hPSAA" class="dib ph2 link" target="_blank" rel="noopener">Spotify</a>
</div>


<section class="blog">
  <div class="row flex flex-row flex-wrap block-grid">
    {% for item in paginator.posts %}
        {% include items/card-message.html %}
    {% endfor %}
  </div>
  {% include item-pagination.html %}
</section>