---
title: Blog
layout: default
description: The Liberty Church blog. Stories, updates, thoughts and articles about
  what Jesus is doing in our lives and local communities.
pagination:
  enabled: true
  collection: posts, messages, testimonies
menu:
  sidebar:
    weight: 4

---
{% include /header-blocks/blog.html %}

<div class="tc mb4">
    <a href="/messages/" class="dib ph2 link">Messages</a>
    <a href="/testimony/" class="dib ph2 link">Testimonies</a>
</div>

<section class="blog">

  <div class="row flex flex-row flex-wrap block-grid">
    {% for item in paginator.posts %}
    
      {% if item.collection == "messages" %}
        {% include items/card-message.html %}
      {% else %}
        {% include items/card-article.html %}
      {% endif %}
    {% endfor %}
  </div>
  {% include item-pagination.html %}
</section>