---
title: Authors Index
layout: default
description: Authors Index from Liberty church.
pagination: 
  enabled: true
  collection: authors
---

<header class="content-block content-block--header">
  <div class="content-block-inner">
    <h1 class="header-block__heading">Authors</h1>
    <h2 class="content-block__subheading">An index of authors</h2>

  </div>
</header>


<section class="authors">
  <div class="row c-grid c-grid--four">
    {% assign authors = site.authors | sort: 'title' %}
      {% for author in authors %}
        {% include items/card-authors.html %}
      {% endfor %}
    </div>
  </section>
