{% if block.columns.size != 0 %}
    <div class="c-grid {% if block.row_columns.size > 1 %}c-grid--{{ block.row_columns | downcase }}{% endif %}">
        {% for block in block.columns %}
            {% assign template = block.template %}
            {% case template %}
            {% when 'solid-block' %}
                {% include components/solid-block.html %}
            {% when 'image-block' %}
                {% include components/image-block.html %}
            {% when 'image-text-block' %}
                {% include components/image-text-block.html %}
            {% when 'top-image-text-block' %}
                {% include components/top-image-text-block.html %}
            {% when 'block-icon' %}
                {% include components/icon-block.html %}
            {% endcase %}
        {% endfor %}
    </div>
{% endif %}