{%if cta.link and cta.video_link == true %}
    <a href="{{ cta.link }}" class="btn mediabox" aria-label="{{ cta.button_text }}">
        <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/assets/images/icons/svg-icons.svg#video"></use>
        </svg> {{ cta.button_text }}
    </a>
{% elsif cta.link and cta.external_link == true %}
    <a href="{{ cta.link }}" class="btn btn--outline" target="_blank" rel="external noopener">{{ cta.button_text }}</a>
{% else cta.link %}
    <a href="{{ cta.link }}" class="btn btn--outline ">{{ cta.button_text }}</a>
{% endif %}