<section>

    {% for block in page.body %}
      {% assign template = block.template %}
      {% case template %}
      {% when 'content-block' %}
        {% include components/image-block.html %}
      {% when 'solid-block' %}
        {% include components/solid-block.html %}
      {% when 'image-text-block' %}
        {% include components/image-text-block.html %}
      {% when 'top-image-text-block' %}
        {% include components/top-image-text-block.html %}
      {% when 'carousel' %}
        {% include components/block-carousel.html %}
      {% when 'block-large-page-title' %}
        {% include components/block-large-page-title.html %}
      {% when 'columns-block' %}
        {% include components/columns-block.html %}
      {% endcase %}
    {% endfor %}
    
  
  </section>