<section>

    {% for block in page.body %}
      {% assign template = block.template %}
      {% case template %}
      {% when 'content-block' %}
        {% include components/image-block.html %}
      {% when 'solid-block' %}
        {% include components/solid-block.html %}
      {% when 'image-text-block' %}
        {% include components/image-text-block.html %}
      {% when 'block-text' %}
        {% include components/text-block.html %}
      {% when 'top-image-text-block' %}
        {% include components/top-image-text-block.html %}
      {% when 'carousel' %}
        {% include components/block-carousel.html %}
      {% when 'page-title' %}
        {% include components/page-title.html %}
      {% when 'columns-block' %}
        {% include components/columns-block.html %}
      {% when 'text' %}
        {% include components/text.html %}
      {% when 'section-title' %}
        {% include components/section-title.html %}
      {% when 'groups' %}
        {% include components/small-groups.html %}
      {% endcase %}
    {% endfor %}
    
  
  </section>