<article class="c-block" style="background-color: {{ block.background_colour }};">

    <div class="c-block-inner" >
    
        {% if block.logo.size > 1 %}
        <h2 class="sr-only">{{ block.title }}</h2>
        <img src="{{ site.cloudinary_url }}/{{ block.logo }}" alt="" />
        {% else %}
            <h2 class="c-block-heading">{{ block.title }}</h2>
            {% if block.subtitle.size > 1 %}
            <p role="doc-subtitle">{{ block.subtitle }}</p>
            {% endif %}
        {% endif %}
        
        {% if block.description.size > 1 %}
            {{ block.description }}
        {% endif %}
        
        {% if block.call_to_action.size !=0 %}
        <div class="c-block-actions">
        {% for cta in block.call_to_action %}
            {% assign template = cta.template %}
            {% case template %}
            {% when 'call-to-action' %}
                {% include components/cta.html %}
            {% when 'file-download' %}
                {% include components/cta-download.html %}
            {% endcase %}
        {% endfor %}
        </div>
        {% endif %}
    
    </div>

  </article>