---
title: Get involved
layout: default
description: There is lots going on at Liberty Church, take a look at our regular
  programmes and events and how you can get involved.
image: og-get-involved.jpg
body:
- template: block-large-page-title
  title: Get involved
  subtitle: be part of the family
- template: content-block
  title: Places of Liberty, small groups
  height: Default
  overlay_colour: ''
  overlay_opacity: Opacity 30
  subtitle: Creating places and spaces to belong, grow, connect and find freedom in
    God
  description: <p>Back at the start of Liberty Church being birthed, a prophetic word
    was spoken into out house around 'Places of Liberty'. We are excited for those
    to become a reality as we step into a new season.</p><p>Alongside our "Sunday
    expression", from September 2020 we will be launching new 'Places of Liberty'
    in the form of small groups and we are so excited for you to be part of them!
    These will be a great place to build friendships, grow in faith, be involved in
    the life of the church and also invite friends to!</p>
  background_image: "/v1598695602/places-of-liberty-bg_y1bh98.png"
  call_to_action:
  - template: call-to-action
    button_type: Outline
    button_text: View group details
    internal_link: ''
    external_link: ''
  - template: call-to-action
    button_type: Outline
    button_text: Signup to a group
    external_link: http://www.jotform.com/libertychurch/placesofliberty
    internal_link: ''
  logo: ''
  size: ''
- template: solid-block
  title: Liberty Lambs
  description: "<p>Liberty Lambs is a parent and toddler group that meets in two different
    locations, Hatherleigh Community Centre and Duffryn Community Centre. The groups
    are a great time to have a coffee, cake, meet new friends and for your babies
    and toddlers to enjoy playing. We ask for £1 per family.</p>"
  logo: "/v1598695770/liberty-lambs_aigqwn.png"
  background_colour: "#E16114"
  call_to_action:
  - template: call-to-action
    button_type: Outline
    button_text: Facebook
    external_link: https://www.facebook.com/LibertyLambs
    internal_link: ''
  subtitle: ''
- template: solid-block
  title: Liberty Kids
  description: "<p>Our children are an essential part of the church, we want them
    to have God's best. Sunday mornings are action packed and full of fun. They will
    learn about how awesome our God is.</p>"
  logo: "/v1598695837/liberty-kids_q1vbxh.png"
  background_colour: "#0953A2"
  call_to_action:
  - template: call-to-action
    button_type: Outline
    button_text: Parents Facebook group
    external_link: https://www.facebook.com/groups/928137027266471/
    internal_link: ''
  subtitle: ''
- template: solid-block
  title: Liberty Youth
  description: "<p>'We’re passionate about the young people in our city and are sold
    out in our desire to become a group of people who ‘love God &amp; love people
    passionately, live dangerously and are influential’. Check out our Instagram for
    all that is happening with Liberty Youth’</p>"
  logo: "/v1598695909/liberty-youth_h8pmuc.png"
  background_colour: "#1E1E1E"
  call_to_action:
  - template: call-to-action
    button_type: Outline
    button_text: Liberty Youth Instagram
    external_link: https://www.instagram.com/libertyyouthuk/
    internal_link: ''
  subtitle: ''
menu:
  sidebar:
    weight: 6

---
<section>
{% include /header-blocks/get-involved.html %}
{% include /blocks/groups.html %}
{% include /grids/kids.html %}
{% include /blocks/youth.html %}
{% include /blocks/women.html %}
{% include /blocks/warrior.html %}
</section>