---
title: Testimonies
layout: default
description: Testimonies from Liberty church.
pagination: 
  enabled: true
  collection: testimonies
---

{% include /header-blocks/testimonies.html %}

<!-- <div class="tc mb4">
  <a href="/messages/" class="dib ph2 link">Messages</a>
  <a href="/blog/" class="dib ph2 link">Blog</a>
</div> -->

<section class="blog">
  <div class="row block-grid">
    {% for item in paginator.posts %}
        {% include items/message.html %}
    {% endfor %}
  </div>
  {% include item-pagination.html %}
</section>
