---
title: Testimonies
subtitle: Testimonies from Liberty church
layout: default
description: A collection of testimonies from members of Liberty Church where they have seen God work in their lives and situations.
pagination: 
  enabled: true
  collection: testimonies
---

<header class="content-block content-block--header">
  <div class="content-block-inner">
    <h1 class="header-block__heading">{{ page.title }}</h1>
    <h2 class="content-block__subheading">{{ page.subtitle }}</h2>
  </div>
</header>

<section class="blog">
  <div class="row c-grid c-grid--four">
    {% for item in paginator.posts %}
        {% include items/card-message.html %}
    {% endfor %}
  </div>
  {% include item-pagination.html %}
</section>
