---
title: Series Index for Messages | Liberty Church UK
layout: default
description: Messages series from Liberty church.
pagination: 
  enabled: true
  collection: series
---

<header class="content-block content-block--header">
  <div class="content-block-inner">
    <h1 class="header-block__heading">Series</h1>
    <h2 class="content-block__subheading">Messages by series</h2>
  </div>
</header>

<!-- <div class="tc mb4">
  Subscribe
  <a href="#" title="Language" class="dib ph2 link">iTunes</a>
  <a href="#" title="Terms" class="dib ph2 link">Google Podcasts</a>
  <a href="#" title="Privacy" class="dib ph2 link">Spotify</a>
</div> -->


<section class="blog">
  <div class="row block-grid">
    {% for item in paginator.posts %}
        {% include items/series.html %}
    {% endfor %}
  </div>
  {% include item-pagination.html %}
</section>
