---
title: Messages and devotionals by series | Liberty Church UK
layout: default
description: Messages and devotionals by series from Liberty church.
pagination: 
  enabled: true
  collection: series
---

<header class="content-block content-block--header">
  <div class="content-block-inner">
    <h1 class="header-block__heading">Series</h1>
    <h2 class="content-block__subheading">Messages and devotionals by series</h2>
  </div>
</header>

<section class="blog">
  <div class="row c-grid c-grid--four">
    {% for item in paginator.posts reversed %}
        {% include items/card-series.html %}
    {% endfor %}
  </div>
  {% include item-pagination.html %}
</section>
