---
layout: default
pagination: 
  enabled: true
  collection: all
---

<article class="article">

  <header class="article__header">

    <div class="article__titles">
      <h1 class="article__heading">{{ page.title }}</h1>
    </div>

  </header>

  <div class="article__body">
    
    {% assign messages = site.messages | where: 'author', page.relative_path %}
    {% assign articles = site.posts | where: 'author', page.relative_path %}

    {% assign resources = messages | concat: articles  %}


    {% for post in resources reversed %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </div>


</article>

{% include post-navigation.html %}