---
layout: default
pagination: 
  enabled: true
  collection: all
---

<article class="article">

  <header class="article__header">

    <div class="article__titles">
      <h1 class="article__heading">{{ page.title }}</h1>
    </div>

  </header>

  <div class="article__body">
    
    {% assign messages = site.messages | where: 'author', page.relative_path %}
    {% assign articles = site.posts | where: 'author', page.relative_path %}

    {% assign resources = messages | concat: articles  %}

    <div class="row">
      {% for item in resources reversed %}
        {% include items/resource-card.html %}
      {% endfor %}
    </div>
  </div>


</article>

{% include post-navigation.html %}