---
layout: default
pagination: 
  enabled: true
  collection: all
---

<article class="article">

  <header class="article__header">
    <div class="article__titles mb4">
      <div class="article__author"><img src="{{ site.cloudinary_url }}/w_128,h_128,r_max/q_60/f_auto/{{ page.avatar }}" title="{{ page.name }}" /></div>
      <h1 class="article__heading mb2 ">{{ page.title }}</h1>
    </div>
    {% if page.content.size > 1  %}
    <div class="author__bio tc mw7 center">
      {{ content }}
    </div>
    {% endif %}
  </header>

  <div class="article__body">
    
    {% assign messages = site.messages | where: 'author', page.relative_path %}
    {% assign articles = site.posts | where: 'author', page.relative_path %}

    {% assign resources = messages | concat: articles  %}



    <div class="row flex flex-row flex-wrap card-list-view">
      {% for item in resources reversed %}
        {% include items/resource-card.html %}
      {% endfor %}
    </div>

  </div>

</article>

{% include post-navigation.html %}