---
layout: compress
---
<!DOCTYPE html>

<!--#if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="en" class="no-js fonts-loaded">
<!--#else -->
<html lang="en" class="no-js">
<!--#endif -->
  <head>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/ico"/>
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/icons/apple-touch-icon-192x192.png" type="image/png"/>

    {% include meta.html %}

    <script src="{{ site.baseurl }}/js/modernizr.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    {% seo %}
  </head>

  <body id="top">

    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}

    {% include google-analytics.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/main.js"></script>
    <script src="{{ site.baseurl }}/js/fontfaceobserver.js"></script>

  </body>
</html>
