---
layout: default
---

  <article class="article">

    <header class="article__header">

      <div class="article__titles">
        <time class="article__date db ttu tc" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %B, %Y" }}</time>
        <h1 class="article__heading">{{ page.title }}</h1>
        {% assign series = site.series | where: 'relative_path', page.series | first %}

        {% if page.series.size > 1 %}
        <div class="article__subheading">Series: <a href="/series/{{series.slug}}">{{ series.title }}</a></div>   
        {% endif %}
      </div>

    </header>

    <div class="article__body">
      {{ content }}
    </div>

    <footer class="article__footer">

      {% include items/footer-author.html %}

    </footer>

  </article>

  {% include post-navigation.html %}
