---
layout: default
---

  <article class="article">

    <header class="article__header">

      <div class="article__titles">
        <time class="article__date db ttu tc" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %B, %Y" }}</time>
        <h1 class="article__heading">{{ page.title }}</h1>
        {% if page.subtitle.size > 1 %}
        <div class="article__subheading">{{ page.subtitle }}</div>
        {% endif %}

      </div>

      {% include items/message-meta.html %}
    
    </header>

    {% if page.file %}
      {% include items/message-player.html %}
    {% endif %}

    {% if page.content.size > 1 %}
    <div class="article__body">
      {{ content }}
    </div>
    {% endif %}


    <footer class="article__footer">

      {% include items/footer-author.html %}

    </footer>
    
  </article>

  {% include post-navigation.html %}
