---
layout: default
pagination:
  enabled: true
  collection: series
---

<article class="article">

  <header class="article__header">
    <div class="article__titles">
      <h1 class="article__heading">{{ page.title }}</h1>
      <div class="article__subheading">{{ page.subtitle }}</div>
    </div>
  </header>

  <div class="article__body">

    {% assign series = site.messages | where: 'series', page.relative_path %}

    <div class="row">
      {% for item in series reversed %}
        {% include items/resource-card.html %}
      {% endfor %}
    </div>
    
  </div>

</article>

{% include post-navigation.html %}