---
layout: default
pagination:
  enabled: true
  collection: series
---

<article class="article">

  <header class="article__header">
    <div class="article__titles">
      <h1 class="article__heading">{{ page.title }}</h1>
      <div class="article__subheading">{{ page.subtitle }}</div>
    </div>
  </header>

  <div class="article__body">


{% assign messages = site.messages %}
{% assign devotionals = site.devotionals %}

{% assign series = messages | concat: devotionals | where: 'series', page.relative_path%}

    <div class="row c-grid c-grid--two">
      {% for item in series %}

          {% if item.file.size > 1 %}
            {% include items/card-message.html %}
          {% else %}
            {% include items/card-devotional.html %}
          {% endif %}

     {% endfor %}

    </div>
    
  </div>

</article>

{% include post-navigation.html %}