---
layout: default
---

  <article class="article">

    <header class="article__header">

      <div class="article__titles">
        <time class="article__date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d %B, %Y" }}</time>
        <h1 class="article__heading">{{ page.title }}</h1>
        <div class="article__subheading">{{ page.subtitle }}</div>
      </div>

    </header>

    <div class="article__body">
      {{ content }}
    </div>

    <footer class="article__footer">

      {% include items/footer-author.html %}

    </footer>

  </article>

  {% include post-navigation.html %}
